{% extends "base.html" %}

{% block css %}
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/dataTables.bootstrap5.css" />
{% endblock %}

{% block lien %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="/chart">Graphiques</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Données</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/consultations">Consultations</a></li>
            <li><a class="dropdown-item" href="/maladies-symtomes">Maladies/Symptômes</a></li>
            <li><a class="dropdown-item" href="/patients">Patients</a></li>
        </ul>
    </li>
{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% if messages %}
            <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                {%- for msg in messages %}
                <span class="alert alert-success my-5">{{msg}}</span>
                {% endfor -%}
            </div>
            {% endif %}
            {% endwith %}

            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                {%- for msg in errors %}
                <span class="alert alert-danger my-5">{{msg}}</span>
                {% endfor -%}
            </div>
            {% endif %}
            {% endwith %}

           <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                <h1>Sélectionnez un fichier csv</h1>
                <form class="form" method="post" enctype="multipart/form-data" action="/upload">
                    <input type="file" name="file" class="form-control input-sm mt-3"/>
                    <input type="submit" value="Envoyer le fichier" class="mt-3 mr-5 btn btn-sm btn-secondary"/>

                    {% with messages = get_flashed_messages(category_filter=["message"]) %}
                    {% if messages %}
                        <a href="../static/cpoo.json" class="mt-3 btn btn-sm btn-primary">Télécharger</a>
                    {% endif %}
                    {% endwith %}

                </form>
            </div>
        </div>
    </div>

    {% block script %}
        <script type="text/javascript" charset="utf8" src="../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="../static/js/dataTables.bootstrap5.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var table = $('#data').dataTable(
                    {
                        retrieve: true,
                        language: {
                            "emptyTable": "Aucune donnée disponible dans le tableau",
                            "loadingRecords": "Chargement...",
                            "processing": "Traitement...",
                            "decimal": ",",
                            "search": "Rechercher:",
                            "thousands": ".",
                            "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                            "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                            "infoFiltered": "(filtrées depuis un total de _MAX_ entrées)",
                            "lengthMenu": "Afficher _MENU_ entrées",
                            "paginate": {
                                "first": "Première",
                                "last": "Dernière",
                                "next": "Suivante",
                                "previous": "Précédente"
                            },
                            "zeroRecords": "Aucune entrée correspondante trouvée"
                        }
                    }
                );
            });
        </script>
    {% endblock %}
{% endblock %}