{% extends "base.html" %}

{% block lien %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="/chart">Graphiques</a></li>
{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            {% if message is defined %}
            <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                <span class="{% if message is defined %}alert alert-success my-5{% endif %}">{{message}}</span>
            </div>
            {% endif %}

            {% if erreur is defined %}
            <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                <span class="{% if erreur is defined %}alert alert-danger my-5{% endif %}">{{erreur}}</span>
            </div>
            {% endif %}

           <div class="offset-lg-3 col-lg-6 mt-5 text-center">
                <h1>Sélectionnez un fichier csv</h1>
                <form class="form" method="post" enctype="multipart/form-data" action="/upload">
                    <input type="file" name="file" class="form-control input-sm mt-3"/>
                    <input type="submit" value="Envoyer le fichier" class="mt-3 mr-5 btn btn-sm btn-secondary"/>
                    {% if message is defined %}
                    <a href="../static/cpoo.json" class="mt-3 btn btn-sm btn-primary">Télécharger</a>
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
{% endblock %}